body {
  line-height: 1.5;
  font-family: arial, "\5b8b\4f53";
  background: #fff;
  font-size: 12px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ol,
ul {
  list-style: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: normal;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  *font-size: 100%;
}
fieldset,
img,
a img,
:link img,
:visited img {
  border: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
.clear,
.clearfix:after {
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
}
.clearfix:after {
  visibility: hidden;
  content: ".";
}
.clearfix {
  *zoom: 1;
}
.cWhite,
.cWhite:visited,
.cWhite a {
  color: #ffffff;
}
.cYellow,
.cYellow:visited {
  color: #ffff00;
}
.cGreen,
.cGreen:visited {
  color: #008000;
}
.cGray,
.cGray:visited,
.cGray a {
  color: #333333;
}
.cDGray,
.cDGray:visited,
.cDGray a {
  color: #727171;
}
.cBlack,
.cBlack:visited,
.cBlack a {
  color: #000000;
}
.cBlue,
.cBlue:visited,
.cBlue a {
  color: #1e50a2;
}
.cRed,
.cRed:visited,
.cRed a {
  color: Red;
}
.cDRed,
.cDRed:visited,
.cDRed a {
  color: #ba2636;
}
.cRed a:hover,
a.cRed:hover,
.cBlue a:hover,
a.cBlue:hover,
.cDRed a:hover,
a.cDRed:hover,
.cGray a:hover,
a.cGray:hover,
.cDGray a:hover,
a.cDGray:hover,
.cWhite a:hover,
a.cWhite:hover,
.cBlack a:hover,
a.cBlack:hover,
.cGreen a:hover,
a.cGreen:hover,
.cYellow a:hover,
a.cYellow:hover {
  color: #ba2636;
}
.fB {
  font-weight: bold;
}
.fI {
  font-style: italic;
}
.f12px {
  font-size: 12px;
}
.f14px {
  font-size: 14px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  display: none;
}
.unLine,
.unLine a {
  text-decoration: none;
}
.noBorder {
  border: 0;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
  content: ".";
}
.blankW {
  background: #ffffff;
}
.blank3 {
  clear: both;
  height: 3px;
  overflow: hidden;
  display: block;
}
.blank6 {
  clear: both;
  height: 6px;
  overflow: hidden;
  display: block;
}
.blank9 {
  clear: both;
  height: 9px;
  overflow: hidden;
  display: block;
}
.blank9w {
  background: #fff;
  clear: both;
  height: 9px;
  overflow: hidden;
  display: block;
}
.blank12 {
  clear: both;
  height: 12px;
  overflow: hidden;
  display: block;
}
.blank15 {
  clear: both;
  height: 15px;
  overflow: hidden;
  display: block;
}
.blank20 {
  clear: both;
  height: 20px;
  overflow: hidden;
  display: block;
}
.c-fl {
  float: left;
}
.c-fr {
  float: right;
}
.ma6,
.mt6 {
  margin-top: 6px;
}
.ma6,
.mr6 {
  margin-right: 6px;
}
.ma6,
.mb6 {
  margin-bottom: 6px;
}
.ma6,
.ml6 {
  margin-left: 6px;
}
.ma12,
.mt12 {
  margin-top: 12px;
}
.ma12,
.mr12 {
  margin-right: 12px;
}
.ma12,
.mb12 {
  margin-bottom: 12px;
}
.ma12,
.ml12 {
  margin-left: 12px;
}
body,
html,
.swiper-container {
  height: 100%;
}
.swiper-slide {
  position: relative;
}
.section1 {
  background: url(images/bg1.jpg);
  background-size: cover;
}
.section1 .filter {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #042645;
  opacity: 0;
  transition: 1s ease 0.5s;
}
.section1 .title {
  position: absolute;
  left: 0;
  top: 240px;
  right: 0;
  text-align: center;
  color: #fff;
}
.section1 .title h1 {
  font: 140px/140px "Gill Sans";
  opacity: 0;
  transition: 1.5s ease 1s;
}
.section1 .title span {
  font: 40px/60px "Gill Sans";
  opacity: 0;
  transition: 1.5s ease 1.5s;
}
.section1 .time {
  position: absolute;
  left: 0;
  right: 0;
  top: 650px;
  font: 60px/60px "Helvetica";
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: 1.5s ease 2s;
}
.section1 .name {
  position: absolute;
  left: 0;
  right: 0;
  top: 725px;
  font: 40px/60px "Helvetica";
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: 1.5s ease 2.5s;
}
.section1 .name span {
  font-size: 28px;
}
.arr {
  position: absolute;
  left: 50%;
  bottom: 40px;
  width: 88px;
  height: 48px;
  margin-left: -44px;
  background: url(images/arr.png) center center no-repeat;
  opacity: 0;
  transition: 2s ease 3s;
  animation: arr 0.8s infinite;
}
.section1.swiper-slide-active .filter {
  opacity: 0.4;
}
.section1.swiper-slide-active .title h1,
.section1.swiper-slide-active .title span,
.section1.swiper-slide-active .name,
.section1.swiper-slide-active .time,
.section1.swiper-slide-active .arr {
  opacity: 1;
}
.section2 {
  background: url(images/bg2.jpg) center bottom;
  background-size: cover;
}
.section2 .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  font: 36px/60px "";
  color: #0e4d6c;
  text-align: center;
}
.section2 li {
  opacity: 0;
}
.section2 li:nth-child(1) {
  transition: 1s ease 0.5s;
}
.section2 li:nth-child(2) {
  transition: 1s ease 1s;
}
.section2 li:nth-child(3) {
  transition: 1s ease 1.5s;
}
.section2 li:nth-child(4) {
  margin-top: 60px;
  transition: 1s ease 2s;
}
.section2 li:nth-child(5) {
  transition: 1s ease 2.5s;
}
.section2 li:nth-child(6) {
  margin-top: 60px;
  transition: 1s ease 3s;
}
.section2 li:nth-child(7) {
  transition: 1s ease 3.5s;
}
.section2 li:nth-child(8) {
  transition: 1s ease 4s;
}
.section2 .arr {
  transition: 2s ease 4.5s;
}
.section2.swiper-slide-active .text li {
  opacity: 1;
}
.section2.swiper-slide-active .arr {
  opacity: 1;
}
.section3 {
  background: url(images/bg3.jpg) center bottom;
  background-size: cover;
}
.section3 .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  font: 40px/80px "";
  color: #fff;
  text-align: center;
}
.section3 .text #run {
  font-size: 80px;
  vertical-align: bottom;
}
@keyframes arr {
  0% {
    bottom: 40px;
  }
  40% {
    bottom: 30px;
  }
  100% {
    bottom: 40px;
  }
}
