body {
  line-height: 1.5;
  font-family: arial, "\5b8b\4f53";
  background: #fff;
  font-size: 12px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ol,
ul {
  list-style: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: normal;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  *font-size: 100%;
}
fieldset,
img,
a img,
:link img,
:visited img {
  border: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
.clear,
.clearfix:after {
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
}
.clearfix:after {
  visibility: hidden;
  content: ".";
}
.clearfix {
  *zoom: 1;
}
.cWhite,
.cWhite:visited,
.cWhite a {
  color: #ffffff;
}
.cYellow,
.cYellow:visited {
  color: #ffff00;
}
.cGreen,
.cGreen:visited {
  color: #008000;
}
.cGray,
.cGray:visited,
.cGray a {
  color: #333333;
}
.cDGray,
.cDGray:visited,
.cDGray a {
  color: #727171;
}
.cBlack,
.cBlack:visited,
.cBlack a {
  color: #000000;
}
.cBlue,
.cBlue:visited,
.cBlue a {
  color: #1e50a2;
}
.cRed,
.cRed:visited,
.cRed a {
  color: Red;
}
.cDRed,
.cDRed:visited,
.cDRed a {
  color: #ba2636;
}
.cRed a:hover,
a.cRed:hover,
.cBlue a:hover,
a.cBlue:hover,
.cDRed a:hover,
a.cDRed:hover,
.cGray a:hover,
a.cGray:hover,
.cDGray a:hover,
a.cDGray:hover,
.cWhite a:hover,
a.cWhite:hover,
.cBlack a:hover,
a.cBlack:hover,
.cGreen a:hover,
a.cGreen:hover,
.cYellow a:hover,
a.cYellow:hover {
  color: #ba2636;
}
.fB {
  font-weight: bold;
}
.fI {
  font-style: italic;
}
.f12px {
  font-size: 12px;
}
.f14px {
  font-size: 14px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  display: none;
}
.unLine,
.unLine a {
  text-decoration: none;
}
.noBorder {
  border: 0;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
  content: ".";
}
.blankW {
  background: #ffffff;
}
.blank3 {
  clear: both;
  height: 3px;
  overflow: hidden;
  display: block;
}
.blank6 {
  clear: both;
  height: 6px;
  overflow: hidden;
  display: block;
}
.blank9 {
  clear: both;
  height: 9px;
  overflow: hidden;
  display: block;
}
.blank9w {
  background: #fff;
  clear: both;
  height: 9px;
  overflow: hidden;
  display: block;
}
.blank12 {
  clear: both;
  height: 12px;
  overflow: hidden;
  display: block;
}
.blank15 {
  clear: both;
  height: 15px;
  overflow: hidden;
  display: block;
}
.blank20 {
  clear: both;
  height: 20px;
  overflow: hidden;
  display: block;
}
.c-fl {
  float: left;
}
.c-fr {
  float: right;
}
.ma6,
.mt6 {
  margin-top: 6px;
}
.ma6,
.mr6 {
  margin-right: 6px;
}
.ma6,
.mb6 {
  margin-bottom: 6px;
}
.ma6,
.ml6 {
  margin-left: 6px;
}
.ma12,
.mt12 {
  margin-top: 12px;
}
.ma12,
.mr12 {
  margin-right: 12px;
}
.ma12,
.mb12 {
  margin-bottom: 12px;
}
.ma12,
.ml12 {
  margin-left: 12px;
}
body {
  font-size: 80px;
  line-height: 1;
}
body,
html,
.swiper-container {
  height: 100%;
}
.swiper-slide {
  position: relative;
  overflow: hidden;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.section1 .filter {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #042645;
  opacity: 0;
  transition: 1s ease 0.5s;
  -webkit-transition: 1s ease 0.5s;
}
.section1 .bg {
  background: url(images/bg1.jpg);
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 5s ease;
  -webkit-transition: 5s ease;
  transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  transform: scale(1.03, 1.03);
  -webkit-transform: scale(1.03, 1.03);
}
.section1 .title {
  position: absolute;
  left: 0;
  top: 240px;
  right: 0;
  text-align: center;
  color: #fff;
}
.section1 .title h1 {
  font: 140px/140px "Gill Sans";
  opacity: 0;
  transition: 1.5s ease 1s;
  -webkit-transition: 1.5s ease 1s;
}
.section1 .title span {
  font: 40px/60px "Gill Sans";
  opacity: 0;
  transition: 1.5s ease 1.5s;
  -webkit-transition: 1.5s ease 1.5s;
}
.section1 .time {
  position: absolute;
  left: 0;
  right: 0;
  top: 650px;
  font: 60px/60px "Helvetica";
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: 1.5s ease 2s;
  -webkit-transition: 1.5s ease 2s;
}
.section1 .name {
  position: absolute;
  left: 0;
  right: 0;
  top: 725px;
  font: 40px/60px "Helvetica";
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: 1.5s ease 2.5s;
  -webkit-transition: 1.5s ease 2.5s;
}
.section1 .name span {
  font-size: 28px;
}
.arr {
  position: absolute;
  left: 50%;
  bottom: 40px;
  width: 88px;
  height: 48px;
  margin-left: -44px;
  background: url(images/arr.png) center center no-repeat;
  opacity: 0;
  transition: 2s ease 3s;
  -webkit-transition: 2s ease 3s;
  animation: arr 0.8s infinite;
  -webkit-animation: arr 0.8s infinite;
}
.section1.swiper-slide-active .filter {
  opacity: 0.4;
}
.section1.swiper-slide-active .title h1,
.section1.swiper-slide-active .title span,
.section1.swiper-slide-active .name,
.section1.swiper-slide-active .time,
.section1.swiper-slide-active .arr {
  opacity: 1;
}
.section1.swiper-slide-active .bg {
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
}
.section2 {
  background: url(images/bg2.jpg) center bottom;
  background-size: cover;
}
.section2 .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  font: 36px/60px "";
  color: #0e4d6c;
  text-align: center;
}
.section2 li {
  opacity: 0;
}
.section2 li:nth-child(1) {
  transition: 1s ease 0.5s;
  -webkit-transition: 1s ease 0.5s;
}
.section2 li:nth-child(2) {
  transition: 1s ease 1.25s;
  -webkit-transition: 1s ease 1.25s;
}
.section2 li:nth-child(3) {
  transition: 1s ease 2s;
  -webkit-transition: 1s ease 2s;
}
.section2 li:nth-child(4) {
  margin-top: 60px;
  transition: 1s ease 3s;
  -webkit-transition: 1s ease 3s;
}
.section2 li:nth-child(5) {
  transition: 1s ease 3.75s;
  -webkit-transition: 1s ease 3.75s;
}
.section2 li:nth-child(6) {
  margin-top: 60px;
  transition: 1s ease 4.75s;
  -webkit-transition: 1s ease 4.75s;
}
.section2 li:nth-child(7) {
  transition: 1s ease 5.5s;
  -webkit-transition: 1s ease 5.5s;
}
.section2 .arr {
  transition: 2s ease 4.5s;
  -webkit-transition: 2s ease 4.5s;
}
.section2.swiper-slide-active .text li {
  opacity: 1;
}
.section2.swiper-slide-active .arr {
  opacity: 1;
}
.section3 {
  background: url(images/bg3.jpg) center bottom;
  background-size: cover;
}
.section3 .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  font: 40px/80px "";
  color: #fff;
  text-align: center;
}
.section3 .text #run {
  font-size: 80px;
  vertical-align: sub;
}
.section3 .arr {
  opacity: 1;
}
.section4 {
  background: url(images/bg4.jpg) center bottom;
  background-size: cover;
}
.section4 .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  font: 40px/80px "";
  color: #fff;
  text-align: center;
}
.section4 .text span {
  font-size: 80px;
  vertical-align: sub;
}
.section4 .arr {
  opacity: 1;
}
.section5 {
  background: url(images/bg5.jpg) center bottom;
  background-size: cover;
}
.section5 .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 84px;
  font: 40px/72px "";
  color: #fff;
  text-align: center;
}
.section5 .text .s51 {
  opacity: 0;
  transition: 2s ease 0.5s;
  -webkit-transition: 2s ease 0.5s;
}
.section5 .text .s52 {
  opacity: 0;
  transition: 2s ease 1.5s;
  -webkit-transition: 2s ease 1.5s;
}
.section5 .arr {
  transition: 2s ease 2.5s;
  -webkit-transition: 2s ease 2.5s;
}
.section5.swiper-slide-active .text .s51,
.section5.swiper-slide-active .text .s52 {
  opacity: 1;
}
.section5.swiper-slide-active .arr {
  opacity: 1;
}
.section6 {
  background: url(images/bg6.jpg) center bottom;
  background-size: cover;
}
.section6 .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 84px;
  font: 40px/72px "";
  color: #fff;
  text-align: center;
}
.section6 .text .s61 {
  opacity: 0;
  transition: 2s ease 0.25s;
  -webkit-transition: 2s ease 0.25s;
}
.section6 .text .s62 {
  opacity: 0;
  transition: 2s ease 1.25s;
  -webkit-transition: 2s ease 1.25s;
}
.section6 .arr {
  transition: 2s ease 2.25s;
  -webkit-transition: 2s ease 2.25s;
}
.section6.swiper-slide-active .text .s61,
.section6.swiper-slide-active .text .s62 {
  opacity: 1;
}
.section6.swiper-slide-active .arr {
  opacity: 1;
}
.section7 {
  background: url(images/bg7.jpg) center bottom;
  background-size: cover;
}
.section7 .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 84px;
  font: 40px/72px "";
  color: #fff;
  text-align: center;
}
.section7 .text .s71 {
  opacity: 0;
  transition: 2s ease 0.5s;
  -webkit-transition: 2s ease 0.5s;
}
.section7 .text .s72 {
  opacity: 0;
  transition: 2s ease 1.5s;
  -webkit-transition: 2s ease 1.5s;
}
.section7 .arr {
  transition: 2s ease 2.5s;
  -webkit-transition: 2s ease 2.5s;
}
.section7.swiper-slide-active .text .s71,
.section7.swiper-slide-active .text .s72 {
  opacity: 1;
}
.section7.swiper-slide-active .arr {
  opacity: 1;
}
.section8 {
  background: url(images/bg8.jpg) center bottom;
  background-size: cover;
}
.section8 .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 84px;
  font: 40px/72px "";
  color: #fff;
  text-align: center;
}
.section8 .text .s81 {
  opacity: 0;
  transition: 2s ease 0.5s;
  -webkit-transition: 2s ease 0.5s;
}
.section8 .arr {
  transition: 2s ease 1.5s;
  -webkit-transition: 2s ease 1.5s;
}
.section8.swiper-slide-active .text .s81 {
  opacity: 1;
}
.section8.swiper-slide-active .arr {
  opacity: 1;
}
.section9 {
  background: url(images/bg9.jpg) center bottom;
  background-size: cover;
}
.section9 .text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 205px;
  font: 40px/72px "";
  color: #fff;
  text-align: center;
}
.section9 .text p:nth-child(1),
.section9 .text p:nth-child(2) {
  opacity: 0;
  transform: translate(0, 80px);
  -webkit-transform: translate(0, 80px);
  transition: 2s ease 0.5s;
  -webkit-transition: 2s ease 0.5s;
}
.section9 .text p:nth-child(3),
.section9 .text p:nth-child(4) {
  opacity: 0;
  transform: translate(0, 80px);
  -webkit-transform: translate(0, 80px);
  transition: 2s ease 2s;
  -webkit-transition: 2s ease 2s;
}
.section9 .arr {
  transition: 2s ease 4s;
  -webkit-transition: 2s ease 4s;
}
.section9.swiper-slide-active .text p {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.section9.swiper-slide-active .arr {
  opacity: 1;
}
.section10 {
  background: url(images/bg10.jpg) center bottom;
  background-size: cover;
}
.section10 .text {
  position: absolute;
  left: 230px;
  right: 0;
  top: 84px;
  font: 40px/72px "";
  color: #fff;
  text-align: left;
}
.section10 .text span.s2 {
  display: block;
  text-indent: 2.5em;
  opacity: 0;
  transform: translate(50px, 0);
  -webkit-transform: translate(50px, 0);
  transition: 2s ease 2s;
  -webkit-transition: 2s ease 2s;
}
.section10 .text span.s1 {
  opacity: 0;
  display: block;
  transform: translate(-50px, 0);
  -webkit-transform: translate(-50px, 0);
  transition: 2s ease 0.5s;
  -webkit-transition: 2s ease 0.5s;
}
.section10 .arr {
  transition: 2s ease 4s;
  -webkit-transition: 2s ease 4s;
}
.section10.swiper-slide-active .text span.s1,
.section10.swiper-slide-active .text span.s2 {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.section10.swiper-slide-active .arr {
  opacity: 1;
}
.section11 {
  background: url(images/bg11.jpg) center bottom;
  background-size: cover;
}
.section11 .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 84px;
  font: 40px/72px "";
  color: #fff;
  text-align: center;
  opacity: 0;
  transform: translate(0px, 50px);
  -webkit-transform: translate(0px, 50px);
  transition: 2s ease .5s;
  -webkit-transition: 2s ease .5s;
}
.section11 .arr {
  transition: 2s ease 2s;
  -webkit-transition: 2s ease 2s;
}
.section11.swiper-slide-active .text {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.section11.swiper-slide-active .arr {
  opacity: 1;
}
.section12 {
  background: url(images/bg12.jpg) center bottom;
  background-size: cover;
}
.section12 .arr {
  opacity: 1;
  background-image: url(images/arr_blue.png);
}
.section13 {
  background: url(images/bg13.jpg) center bottom;
  background-size: cover;
}
.section13 .title {
  position: absolute;
  left: 50px;
  top: 50%;
  margin-top: -515px;
  font: 90px/1 "Gill Sans";
  color: #fff;
}
.section13 .info {
  position: absolute;
  left: 50px;
  top: 50%;
  font: 34px/48px "";
  color: #e1e5ce;
}
.section13 .info p {
  font-size: 30px;
  color: #fff;
}
.section13 .time {
  margin-top: -370px;
}
.section13 .hotel {
  margin-top: -250px;
}
.section13 .address {
  margin-top: -130px;
}
.section13 .map {
  position: absolute;
  left: 40px;
  top: 50%;
  margin-top: 20px;
  background: url(images/map.png) no-repeat;
  width: 670px;
  height: 360px;
}
.section13 .location {
  position: absolute;
  left: 478px;
  top: 178px;
  background: url(images/location.png) no-repeat;
  width: 23px;
  height: 32px;
  opacity: 0;
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
}
.section13 .shadow {
  position: absolute;
  left: 486px;
  top: 212px;
  background: url(images/shadow.png) no-repeat;
  width: 20px;
  height: 8px;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform-origin: left center;
  -webkit-transform-origin: left center;
  transition: 0.25s ease 0.75s;
  -webkit-transition: 0.25s ease 0.75s;
}
.section13 .tip {
  position: absolute;
  left: 333px;
  top: 75px;
  background: url(images/tip.png) no-repeat;
  width: 320px;
  height: 142px;
  opacity: 0;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform-origin: center;
  -webkit-transform-origin: center;
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.63, 1.5) 1.5s;
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.1, 0.63, 1.5) 1.5s;
}
.section13 .arr {
  opacity: 1;
}
.section13.swiper-slide-active .location {
  opacity: 1;
  animation: location 0.5s 1 0.5s;
  -webkit-animation: location 0.5s 1 0.5s;
  transition: 0.5s ease 0.4s;
  -webkit-transition: 0.5s ease 0.4s;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  top: 186px;
}
.section13.swiper-slide-active .shadow {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}
.section13.swiper-slide-active .tip {
  opacity: 1;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}
.section13.swiper-slide-active .arr {
  opacity: 1;
}
.section14 {
  background: #fff;
}
.section14 .title {
  position: absolute;
  left: 50px;
  top: 50%;
  margin-top: -515px;
  font: 90px/1 "Gill Sans";
  color: #1e666c;
}
.section14 .line {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 50%;
  overflow: hidden;
}
.section14 .line label {
  float: left;
  display: block;
  width: 90px;
  font: 32px/82px "";
  color: #1e666c;
}
.section14 .line .input {
  float: right;
  position: relative;
  width: 525px;
  padding: 22px;
  background: #f7f7f7 ;
  overflow: hidden;
  border: 1px solid #e2e2e2;
  border-radius: 7px;
}
.section14 .line .input input {
  display: block;
  width: 100%;
  height: 36px;
  font: 28px/36px "";
  color: #444;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.section14 .line .select-cnt {
  font: 28px/36px "";
  color: #aaa;
  background: url(images/tri.png) no-repeat 505px 15px;
}
.section14 .line .select-cnt.active {
  color: #444;
}
.section14 .line select {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  box-shadow: none;
}
.section14 .line textarea {
  font: 28px/42px "";
  display: block;
  color: #444;
  width: 100%;
  height: 170px;
  border: none;
  background: none;
}
.section14 .line-name {
  margin-top: -365px;
}
.section14 .line-people {
  margin-top: -245px;
}
.section14 .line-wish {
  margin-top: -125px;
}
.section14 .text_number {
  float: right;
  clear: both;
  margin-top: 20px;
  font: 24px/1 "";
  color: #aaa;
}
.section14 .info {
  width: 670px;
  margin-top: 270px;
  padding-top: 40px;
  text-align: center;
  font: 26px/40px "";
  color: #777;
  position: absolute;
  left: 40px;
  top: 50%;
  border-top: 1px solid #ccc;
}
.section14 .info p {
  margin-top: 10px;
  text-align: left;
  font: 24px/40px "";
  color: #888;
}
.section14 .info span {
  font-weight: bold;
}
.section14 .info span:nth-child(2) {
  padding-left: 2em;
}
.section14 .submit {
  position: absolute;
  left: 140px;
  background: #3a959d;
  width: 470px;
  height: 86px;
  border: 1px solid #226E74;
  border-radius: 43px;
  top: 50%;
  margin-top: 125px;
  font: 34px/86px "";
  text-align: center;
  color: #fff;
}
.section14 .submit:hover {
  background: #226E74;
}
@keyframes arr {
  0% {
    bottom: 40px;
  }
  40% {
    bottom: 30px;
  }
  100% {
    bottom: 40px;
  }
}
@-webkit-keyframes arr {
  0% {
    bottom: 40px;
  }
  40% {
    bottom: 30px;
  }
  100% {
    bottom: 40px;
  }
}
@keyframes location {
  0% {
    transform: scale(1, 1);
    top: 178px;
  }
  50% {
    transform: scale(1.1, 1.1);
    top: 176px;
  }
  75% {
    transform: scale(1, 1);
    top: 190px;
  }
  100% {
    transform: scale(1, 1);
    top: 186px;
  }
}
@-webkit-keyframes location {
  0% {
    transform: scale(1, 1);
    top: 178px;
  }
  50% {
    transform: scale(1.1, 1.1);
    top: 176px;
  }
  75% {
    transform: scale(1, 1);
    top: 190px;
  }
  100% {
    transform: scale(1, 1);
    top: 186px;
  }
}
